body,
html {
  width: 100%;
  height: 100%;
  background-color: #525252;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('header.jpg');
  background-position: center;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 250px;
}
.tagline {
  color: white;
}

.progress-bar {
  background-color: #d6b762;
  color: black;
}

.copyright {
  color: white;
  text-align: center;
  padding-bottom: 100px;
}

.registration-box {
  position: relative;
   display: flex;
   margin: 0 auto;
  flex-direction: column;
  justify-content: end;
  
}
.register {
  width: 200px;
  height: 50px;
position: absolute;
top: 210px;
left: -100px;
border-radius: 15px;
}