body{
  background-image: url('background.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  font-family: 'Raleway', sans-serif;
}

.jumbotron,.bio {
  background: none;
}

.name {
  color: white;
  text-transform: uppercase;
}

#subtitle {
  color: white;
  font-size: 2em;
   text-transform: uppercase;
}

.skills {
  text-align: center;
}

.list-group-item {
  text-align: center;
  font-size: 1.25em;
}
.jumbotron-fluid {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.skills{
 list-style-type: none;
  color: white;
  text-align: left;
  font-size: 1.5em;
}

.skills:hover {
  color: #96e8e1;
}

.signup {
  width: 25%;
  min-width: 200px;
  background-color: grey;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
  margin-left: 10px;

  
}

.cta {
  margin: 25px 25px 0 25px;
  padding-top: 10px;
  background-color:#f7f2f2;
  width: 75%;
}
.mc_embed_signup {
  width: 50%;
}

.lead {
  font-size: 1.3em;
}